<div class="board">
  <div class="board-name">
    <%= board.name %>
    <span class="board-description"><%= board.description %></span>
  </div>

  <% board.lists.each do |list| %>
    <%= render partial: 'list', locals: { list: list } %>
  <% end %>
</div>
