<div class="list">
  <div class="list-name">
    <%= list.name %>
  </div>

  <% list.tasks.each do |task| %>
    <%= render partial: 'task', locals: { task: task } %>
  <% end %>

  <%# link_to_add_fields(name, f, association) %>
</div>