<h2>Board Edit</h2>

<%= render partial: 'boards/form', locals: { board: board } %>

<div class="links-container flex-container" style="width:600px;">
  <div class="actions flex-item">
    <%= link_to 'Delete Board', '#', class: 'nav-link' %>
  </div>
</div>
