.board {
    margin-top: 10px;
}

.board-name {
    display: inline;
    font-size: 2rem;
    font-weight: bold;
}

.list {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.list-name {
    display:inline;
    font-size: 1.5rem;
    font-weight: bold;
}


.task {

}

.task-name {
    display:inline;
    font-size: 1rem;
}

.task-description {
    display:inline;
    font-size: 0.8rem;
}

.step {
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
}

.step-description {
    display:inline;
    font-size: 0.9rem;
}